.mat-card-custom{
    width: 40rem;
    padding: 1% 1% 5% 1%;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    padding-top: 6%;
}
.form{
    width: 34rem;;
}